<title>My application</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="wordlist" rows="10" cols="20" placeholder="Enter words seperated by new line"></textarea>
        <input type="number" name="wordQuantity">
        <textarea name="numlist" rows="10" cols="20" placeholder="Enter numbers seperated by new line"></textarea>
        <input type="number" name="numberQuantity">

        <br>
        <input type="submit">
  </form>
